* {
  font-family: Lato;
}

textarea {
  font-family: monospace;
}

#app {
  display: flex;
  flex-flow: row;
}

code {
  width: 400px;
  display: flex;
  background-color: #eee;
  font-family: monospace;
  white-space: pre;
  border: 0;
  border-radius: 3px;
  padding: .5em 1em;
  margin: .5em 0;
}

.panel-left,
.panel-right {
  margin: 1em;
}

dt {
  font-weight: 800;
}

summary {
  margin-top: 1em;
  color: #666;
  font-weight: 800;
  cursor: pointer;
}

dl {
  margin-left: 2em;
}

ul {
  list-style-type: none;
}